@use "../variables/variables" as *;

.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $marginLg;

    h1 {
        @include mainTitle;
        width: 100%;
        border-bottom: 1px $cBlack solid;
        background-color: $cBackground;
        padding: $marginSm;
        text-align: center;
    }

    h2 {
        @include subTitle;
        width: 100%;
        border-bottom: 1px $cLightGray solid;
        padding: 3px 10px;
    }

    .concept {
        width: 95%;
        margin: 0 auto;
        margin-top: $marginLg;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #d3d3d339;
        padding-bottom: 20px;
        gap: $marginMd;

        img {
            width: 80%;
            max-width: 80vh;
            max-height: 60vh;
            object-fit: cover;
        }

        h2 {
            border: none;
            width: 80%;
        }

        p {
            width: 90%;
        }
    }

    .shopList {
        width: 95%;
        margin: 0 auto;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $marginMd;

        ul {
            display: flex;
            flex-direction: column;
            gap: $marginMd;
            width: 100%;

            li {
                padding: $marginMd;
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: $marginSm;

                .shopInfo {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    gap: $marginMd;
                    background-color: $cBackground;

                    img {
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                    }

                    &__detail {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: $marginSm;

                        &__text {
                            width: 100%;
                            text-align: center;
                            h2 {
                                width: 100%;
                                margin: $marginMd 0;
                                border-bottom: 1px $cBlack solid;
                            }
                            p {
                                margin: $marginSm 0;
                                @include fontSmall;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                .small {
                                    @include fontSmaller;
                                }
                            }
                        }

                        &__sns {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            gap: $marginSm;

                            a {
                                height: 1rem;

                                img {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }

                    &__location {
                        width: 100%;
                    }

                    iframe {
                        width: 100%;
                        border: 1px $cBlack solid;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .shopInfo {
            &__detail {
                flex-direction: row !important;
                width: 70% !important;
                gap: $marginMd !important;
                // flex-wrap: wrap;
                &__text {
                    width: 50% !important;
                    text-align: start !important;
                }
                &__sns {
                    width: 50% !important;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .shopList {
            ul {
                li {
                    flex-direction: row !important;
                }
            }

            .shopInfo__location {
                iframe {
                    height: 250px !important;
                }
            }
        }
    }
}
