$headerHeight: 60px;
$breadcrumbHeight: 3vh;
$HamburgerMenuWidth: 45vw;
$HamburgerMenuHeight: calc(100vh - #{$headerHeight});
$footerHeight: 1vh;
$cWhite: #ffffff;
$cGray: #505050;
$cLightGray: #d3d3d3;
$cBlack: #000000;
$announceBarHeight: 0;
$cBackground: #f5f4f2;
$cRed: #ff0000;

$marginLg: 5vh;
$marginMd: 3vh;
$marginSm: 1vh;

$tabletVP: 768px;
$laptopVP: 1280px;
$retinaVP: 2560px;

@mixin fontNormal {
    font-size: 100%;
    font-weight: 200;
}

@mixin mainTitle {
    font-size: 130%;
    font-weight: 200;
}

@mixin subTitle {
    font-size: 110% !important;
    font-weight: 200 !important;
}

@mixin fontSmall {
    font-size: 90% !important;
    font-weight: 200 !important;
}

@mixin fontSmaller {
    font-size: 80% !important;
    font-weight: 100 !important;
}

@media screen and (max-width: $tabletVP) {
    @mixin fontNormal {
        font-size: 120% !important;
        font-weight: 300 !important;
    }

    @mixin mainTitle {
        font-size: 150% !important;
        font-weight: 300 !important;
    }

    @mixin subTitle {
        font-size: 110% !important;
        font-weight: 300 !important;
    }

    @mixin fontSmall {
        font-size: 90% !important;
        font-weight: 200 !important;
    }

    @mixin fontSmaller {
        font-size: 70% !important;
        font-weight: 100 !important;
    }
}

@media screen and (max-width: $laptopVP) {
    @mixin fontNormal {
        font-size: 130% !important;
        font-weight: 300 !important;
    }

    @mixin mainTitle {
        font-size: 160% !important;
        font-weight: 300 !important;
    }

    @mixin subTitle {
        font-size: 120% !important;
        font-weight: 300 !important;
    }

    @mixin fontSmall {
        font-size: 90% !important;
        font-weight: 200 !important;
    }

    @mixin fontSmaller {
        font-size: 70% !important;
        font-weight: 100 !important;
    }
}

* {
    @include fontNormal;
}

.mainTitle {
    @include mainTitle;
}

.subTitle {
    @include subTitle;
}

@keyframes slideIn {
    from {
        transform: translateX(-$HamburgerMenuWidth);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-$HamburgerMenuWidth);
        opacity: 0;
    }
}

@keyframes hero-change {
    0%,
    100% {
        opacity: 0;
    }
    10%,
    20%,
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

/* 右向き ▶︎ */
.triangle {
    background-color: $cGray;
    height: calc(10px / 2 * tan(60deg));
    width: 5px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    transition: transform 0.6s ease, opacity 0.6s ease;
}

html {
    color: $cGray;
    font-style: normal;
    font-family: "Roboto Slab", "Noto Serif JP", monospace, serif !important;
    font-optical-sizing: auto;
    background-color: $cBackground !important;
}

.logoText {
    font-size: 1.5rem;
    font-weight: 500;
}

#page {
    width: 95%;
    margin: 0 auto;
    margin-top: $headerHeight;
    min-height: 75vh;
    overflow-x: hidden;
    background-color: $cBackground !important;
}

.informationBanner {
    position: fixed;
    top: $headerHeight;
}

.itemSearchBox {
    // margin-top: 30px;

    .itemSearch {
        width: 90%;
        margin: 0 auto;
        border: none !important;
        border-bottom: solid 1px rgba(191, 191, 191, 0.6) !important;

        &__form {
            display: flex !important;
            flex-direction: row !important;
            height: 30px !important;
            width: 100% !important;
            margin: 0 auto !important;
            background-color: $cBackground;
        }
        &__field {
            width: 80% !important;
            height: 30px !important;
            border: none !important;
            padding: 7px !important;
            box-shadow: none !important;
            background-color: $cBackground;

            &:focus-visible {
                outline: none !important;
            }
        }

        &__btn {
            width: 20% !important;
            text-align: center;
            transition: all 0.6s ease;

            &:hover {
                transform: scale(1.1);
            }
            img {
                width: 20px !important;
                height: 20px !important;
            }
        }
    }
}
#mainContaint {
    background-color: $cBackground !important;
}
